server:
  port: 5120
spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    #개발 서버에서
#    url: jdbc:mariadb://13.125.232.145:3306/web_db
    #배포 시의 서버
    url: jdbc:mariadb://localhost:3306/web_db
    username: root
    password: zktmclscn2

  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: update
      use-new-id-generate-mappings: false
    show-sql: true
    properties:
      hibernate.format_sql: true
app:
  filePath: C:\Users\user\Documents\GitHub\MoaWebProject\webBack\src\main\file